*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.header-container{
    background-color: rgb(245, 245, 255);
    border-radius: 10px;
    width: 100%;
    display: block;
    top: 0;
    box-shadow: 7px 8px rgb(180, 196, 199);
}

.header-link:hover{
    transition: 0.5s ease;
}

.about-block{
    font-family: sans-serif;
    background-color: rgb(245, 245, 255);
    margin: 30px 1%;
    border-radius: 10px;
    box-shadow: 7px 8px rgb(180, 196, 199);
    height: 750px;
    margin-top: 45px;
}

.about-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding-top: 25px;
    padding-left: 50px;
}

.slider{
    height: 700px;
    margin-top: 30px;
}

.slider-text{
  max-width: 300px;
  min-width: 200px;
  margin-right: 700px;
  font-size: 20px;
  font-family: 'Mulish-Regular';
  color: rgb(39, 121, 167);
  font-weight: 500;
}

.slider-second{
    width: 1300px;
}

.about-subtitle{
    margin-top: 30px;
    padding-top: 20px;
}

.about-list{
    list-style-type: none;
}

.about-list-item{
    padding-top: 20px;
}

.about-text{
    font-family: sans-serif;
    background-color: rgb(245, 245, 255);
    margin: 30px 1%;
    border-radius: 10px;
    box-shadow: 7px 8px rgb(180, 196, 199);
    height: 450px;
    padding-left: 50px;
}

.page-title {
    text-align: center;
}
  
.slider-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
  
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slider img {
    width: 995px;
    height: 535px;
    object-fit: cover;
}
  
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}
  
.prev-button {
    left: 10px;
}
  
.next-button {
    right: 10px;
}

.btn{
    background-color: rgba(124, 123, 123, 0.6);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2);
    background-color: rgba(124, 123, 123, 1.0);
    transition: ease 0.3s;
}

.btn:active{
    transform: scale(1.1);
    transition: ease;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
      margin-left: 100px;
      align-items: center;
      background-image: url(/image/background.png);
      background-repeat: no-repeat;
      background-size: 350px;
      background-position: 350px 25px;
  }
  
  /* Next & previous buttons */
  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  } */
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @font-face {
    font-family: Mulish-Regular;
    src: url(/font/Mulish-Regular.ttf);
  }

  @font-face {
    font-family: Mulish-Bold;
    src: url(/font/Mulish-Bold.ttf);
  }

  .slider-img{
    overflow: hidden;
    max-height: 450px;
    max-width: 500px;
    border-radius: 10px;
    min-width: 700px;
  }
  
  .pan{
    background-color: rgb(245, 245, 255);
    max-width: 98%;
    border-radius: 10px;
    margin-left: 1%;
    box-shadow: 7px 8px rgb(180, 196, 199);
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px; 
    margin-right: 1%;
  }

  .pan-title{
    padding-left: 50px;
  }

  .pan-block{
    margin-left: 30%;
    margin-top: 25px;
    padding-bottom: 25px;
  }

  marquee{
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
  }

  footer{
    background-color: rgb(245, 245, 255);
    font-weight: 600;
    background-color: rgb(245, 245, 255);
    border-radius: 10px;
    box-shadow: 7px 8px rgb(180, 196, 199);
    padding-bottom: 20px;
  }

  .text{
    font-family: 'Mulish-Regular';
    color: rgb(39, 121, 167);
    font-weight: 500;
    font-size: 20px;
  }

  .title{
    font-family: 'Mulish-Bold';
    font-weight: 800;
    color: rgb(119, 160, 199);
    font-size: 40px;
  }

  .footer-author-list{
    list-style-type: none;
    padding-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
  }

  .coder-item{
    list-style-type: none;
    background-image: url(/image/free-icon-font-file-code-8778039.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .designer-item{
    list-style-type: none;
    background-image: url(/image/customize-computer.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .photo-item{
    list-style-type: none;
    background-image: url(/image/free-icon-font-wheelchair-5069226.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .photo{
    list-style-type: none;
    background-image: url(/image/camera.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .help{
    list-style-type: none;
    background-image: url(/image/exclamation.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .speak{
    list-style-type: none;
    background-image: url(/image/microphone-alt.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .leader-item{
    list-style-type: none;
    background-image: url(/image/user-crown.svg);
    background-position: 10 0;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
  }

  .slider-nav{
    margin-top: 20px;
  }

  .contacts-block{
    background-color: rgb(245, 245, 255);
    margin: 30px 1%;
    border-radius: 10px;
    box-shadow: 7px 8px rgb(180, 196, 199);
    height: 750px;
    margin-top: 45px;
    padding-left: 50px;
  }

  .map{
    margin-left: 1100px;
    margin-top: 50px;
  }

  .contacts-title{
    padding-top: 20px;
  }

  .inst-link{
    text-decoration: none;
    color: rgb(0, 165, 165);
  }

  .inst-text{
    font-size: 25px;
    display: inline;
  }

  .map-title{
    font-size: 30px;
    display: inline;
    margin-left: 1000px;
  }

  @media (max-width: 960px) {
    .header-container{
      width: 960px;
    }

    .mySlides{
      background-image: none;
      margin-left: 0;
    }

    .slider-text{
      margin-right: 0;
    }

    .slider-img{
      min-width: 300px;
    }

    .about-block{
      height: 500px;
    }

    .pan-block{
      margin-left: 15%;
    }

    .map{
      margin-left: 0;
    }

    .map-title{
      margin-left: 0;
      display: block;
      margin-top: 30px;
    }

    .footer-author-subtitle{

    }
  }